* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #5d5d7d;
}


.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
}


.container-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}




.container-right {
    background-color: rgba(93, 93, 125, 0.16);
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    position: relative;
    top: 25%;
    right: 130px;
}

h1 {
    font-size: 70px;
    line-height: 80px;
    width: 368px;

}

p {
    font-weight: 28px;
    line-height: 48PX;
    opacity: 0.6;
    margin: 15px 0;
    width: 540px;
}


button {
    width: 269px;
    height: 62px;
    background: #9499ea;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;

}

button:hover {
    opacity: 0.8;

}

button:active {
    opacity: 0.5;
}

a {
    margin-right: 41px;
    font-size: 28px;
    line-height: 41px;
    cursor: pointer;
    color: #5d5d7d;
}

a:nth-child(2) {
    opacity: 0.4;
}

header {
    margin: 24px 0 0 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px) {

    .wrapper {
        display: block;
    }

    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
    }

    header {
        display: none;
    }

    img {
        position: static;
        max-width: 90%;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    p {
        width: auto;
        margin: 15px 40px;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

    button {
        margin: 0 auto;
        display: block;
    }
}






